.title {
  margin-bottom: 19px;
  text-align: center;
  width: 100%;
}

.text {
  margin-bottom: 30px;
  text-align: center;
}

.flexColumn {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  width: 300px;
}

.resendButton {
  margin-bottom: 30px;
  width: 100%;
}
