.wrapper {
  //button {
  //  all: unset;
  //}
  //[id^='radix-:r9:-trigger-']:not([data-state='active']) {
  //  background-color: transparent;
  //}
  //[id^='radix-:r9:-trigger-'][data-state='active'] {
  //  background-color: red;
  //}
  //[id^='radix-:r9:-trigger-'] {
  //  background-color: transparent;
  //}
}
.label {
  color: var(--color-light-900);
}

.flexRow {
  align-items: flex-start;
  display: flex;
  gap: 36px;
  justify-content: flex-start;
  margin-top: 24px;
}

.separator {
  background-color: var(--color-dark-300);
  bottom: 62px;
  height: 2px;
  position: relative;
  width: 100%;
}
