.content {
  max-width: 438px;
  width: 100%;
  top: 240px;
  z-index: 60;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);
    padding: 12px 24px;
  }
  .card {
    border: 1px solid var(--color-dark-100);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 42px;

    .questionConfirmBlock {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .buttonBlock {
      display: flex;
      justify-content: space-between;

      .saveDraftButton {
        width: 128px;
      }
      .discardButton {
        width: 108px;
      }
    }
    .image {
      border-radius: 50%;
    }
  }

  .close {
    padding: 0;
  }
}
