.overflowedContainer {
  height: calc(100vh - 61px);
  overflow: hidden;
}
.mainCntainer {
  height: 100%;
  overflow: auto;
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
