.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 378px;
  padding: 23px 24px 24px;
  border: 1px solid var(--color-dark-300);
}

.title {
  margin-bottom: 37px;
}

.hint {
  margin-bottom: 13px;
  color: var(--color-light-900);
}

.flexColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.recaptchaBox {
  width: 300px;
  height: 84px;
  padding: 12px 20px;
  border-radius: 2px;
  border: 1px #333333 solid;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.form {
  padding-bottom: 12px;
}

.submitButton {
  margin-bottom: 24px;
}

.linkButton {
  margin-bottom: 24px;
}

.dialog {
  color: var(--color-light-100);
  padding: 24px;
  background-color: #333333;
  width: 400px;
  height: 228px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  z-index: 10;
  left: calc(50% - 400px / 2);
  top: 40%;
  border: none;
  .flexFiller {
    flex-grow: 1;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  align-items: center;
}

.textNoWrap {
  white-space: nowrap;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.noDisplay {
  display: none;
}

.loader {
  width: 15px;
  height: 15px;
  border: 3px solid var(--color-accent-500);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
