.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  max-width: 378px;
  padding: 23px 24px 24px;

  border: 1px solid var(--color-dark-300);
}

.title {
  margin-bottom: 37px;
}

.hint {
  margin-bottom: 13px;
  color: var(--color-light-900);
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;

  width: 100%;
}

.recaptchaBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 300px;
  height: 84px;
  padding: 12px 20px;

  border: 1px #333 solid;
  border-radius: 2px;
}

.form {
  padding-bottom: 12px;
}

.submitButton {
  margin-bottom: 24px;
}

.linkButton {
  margin-bottom: 24px;
}

.dialog {
  position: absolute;
  z-index: 10;
  top: 31%;

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 378px;
  height: 228px;
  padding: 24px;

  color: var(--color-light-100);

  background-color: var(--color-dark-300);
  border: none;

  .flexFiller {
    flex-grow: 1;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }

  .button {
    width: 96px;
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  align-items: center;
}

.textNoWrap {
  white-space: nowrap;
}

.hidden {
  overflow: hidden;

  width: 0;
  max-width: 0;
  height: 0;
  max-height: 0;
  margin: 0;
  padding: 0;

  visibility: hidden;
}

.noDisplay {
  display: none;
}

.noPointer {
  pointer-events: none;
}

.loader {
  display: inline-block;

  box-sizing: border-box;
  width: 15px;
  height: 15px;

  border: 3px solid var(--color-accent-500);
  border-bottom-color: transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hr_container {
  position: relative;
}

.custom_hr {
  margin: 0 -24px;
  border: none;
  border-top: 1px solid var(--color-dark-100); /* Цвет линии */
}
