.wrapper {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  padding: 23px 24px 24px;
  border: 1px solid var(--color-dark-300);
}

.title {
  margin-bottom: 13px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

.form {
  padding-bottom: 12px;
}

.submitButton {
  width: 100%;
}

.hint {
  margin-bottom: 41px;
  color: #8d9094;
}

.dialog {
  color: var(--color-light-100);
  padding: 24px;
  background-color: #333333;
  width: 400px;
  height: 228px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  z-index: 10;
  left: calc(50% - 400px / 2);
  top: 20%;
  border: none;
  .flexFiller {
    flex-grow: 1;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
}

.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}

.loader {
  width: 15px;
  height: 15px;
  border: 3px solid var(--color-accent-500);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
