.content {
  max-width: 492px;
  width: 100%;
  //max-height: 564px;
  //height: 100%;
}

.imageContainer {
  align-items: center;
  background-color: var(--color-dark-500);
  //background-color: red;
  border-radius: 2px;
  display: flex;

  height: 228px;
  justify-content: center;

  width: 222px;
  overflow: hidden;
  margin-top: 48px;
  // different for save and select ??
  //margin-bottom: 60px;
  &.marginTopHidden {
    margin-top: 0;
  }
  &.isPreview {
    height: 340px;
    width: 332px;
    margin-top: 4px;
  }
  .imageWr {
    position: relative;
    border-radius: 50%;
    width: 316px;
    height: 316px;
    background-color: blue;
    overflow: hidden;
  }
}

.errorBox {
  background-color: var(--color-danger-900);
  padding: 6px 24px;
  border-radius: 2px;
  border: 1px var(--color-danger-500) solid;
  margin-bottom: 24px;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  gap: 0.35rem;
}

//<div style="flex: 1 1 0; text-align: center">
// <span style="color: white; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word">
// Error!
// </span>
// <span style="color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">
// </span>
// <span style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">
// Photo size must be less than 10 MB!
// </span>
// </div>

.dialogFooter {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
  .flexFiller {
    flex-grow: 1;
  }
}

.flexColumn {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

.closeButton {
  color: var(--color-light-100);
  padding: 0;
}

.saveButton {
  margin-bottom: 35px;
  margin-top: 36px;
}

.selectButton {
  margin-bottom: 107px;
  margin-top: 60px;
}
