@mixin avaUserNameBlock {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 12px 0;
  img {
    border-radius: 50%;
  }
}

@mixin date {
  color: var(--color-light-900);
}

@mixin carouselButton {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.postsWrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  max-width: 972px;
  margin: 0 auto;

  .post {
    aspect-ratio: 0.598;
    max-height: 391px;
    height: 100%;
    max-width: 234px;
    width: 100%;

    .modalWr {
      position: relative;

      .postImage {
        width: 100%;
        aspect-ratio: 1;
        transition: all linear 0.2s;

        &[data-showmore='true'] {
          transition: all linear 0.2s;
          aspect-ratio: 2;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .prevButton {
        @include carouselButton;
        left: 8px;
      }
      .nextButton {
        @include carouselButton;
        right: 8px;
      }
      &:hover .prevButton,
      &:hover .nextButton {
        display: block;
      }
      &:hover .dots {
        display: flex;
      }

      .dots {
        position: absolute;
        bottom: 11px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        gap: 8px;
        .dot {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: var(--color-light-100);
          &.activeDot {
            background: var(--color-accent-500);
          }
        }
      }
    }

    .avaUserNameBlock {
      @include avaUserNameBlock;
    }

    .date {
      margin-bottom: 3px;
      @include date;
    }

    .description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      float: left;
      word-break: break-all;
      &[data-showmore='true'] {
        -webkit-line-clamp: 6;
      }
    }
  }
}

.overflowedContainer {
  height: calc(100vh - 61px);
  overflow: hidden;
}

.mainCntainer {
  height: 100%;
  overflow: auto;
  padding-top: 24px;

  .countUsersBlock {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 972px;
    margin: 0 auto 36px;
    padding: 0 24px;

    .countUsers {
      letter-spacing: 15px;
    }
  }
}

.showMore {
}

.contentPost {
  //max-width: 972px;
  max-width: 1114px;
  width: 100%;
  top: 84px;
  padding-right: 42px;

  .title {
    position: relative;
    height: 36px;
    text-align: right;
    width: calc(100% + 42px);

    & > button {
      padding: 0;
    }
  }

  .card {
    padding: 0;
    height: 562px;
    display: flex;
    flex-direction: row;
    max-width: inherit;
    width: 100%;
    border-color: var(--color-dark-100);

    .postImageContent {
      flex: 1 1 490px;
      width: 100%;
      height: 100%;
      position: relative;

      .postImage {
        height: 100%;
      }
      .embla {
        height: 100%;
        .emblaContainer {
          height: 100%;
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .prevModalButton {
        all: unset;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        display: none;
      }
      .nextModalButton {
        all: unset;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        display: none;
      }
      &:hover .prevModalButton,
      &:hover .nextModalButton {
        display: block;
      }
      &:hover .dotes {
        display: flex;
      }
      .dotes {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        gap: 12px;
        .dote {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: var(--color-light-100);
          &.activeDot {
            background: var(--color-accent-500);
          }
        }
      }
    }

    .commentsWr {
      flex: 1 1 480px;
      display: flex;
      flex-direction: column;

      .avaUserNameBlock {
        @include avaUserNameBlock;
        padding-left: 24px;
      }

      .hr {
        width: 100%;
        border-bottom: 1px solid var(--color-dark-100);
        border-top: none;
        border-left: none;
        border-right: none;
      }

      .commentsUl {
        padding-left: 24px;
        padding-top: 16px;
        flex-grow: 1;
        //background: red;
        list-style: none;

        .commentWr {
          display: flex;
          gap: 12px;

          img {
            border-radius: 50%;
            margin-top: 8px;
          }

          .commentBlock {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            gap: 5px;

            .date {
              @include date;
            }
          }
        }
      }

      .likesBlock {
        padding-left: 24px;
        height: 83px;

        .date {
          @include date;
        }
      }
    }
  }
}

.embla {
  overflow: hidden;
  .emblaContainer {
    display: flex;

    .emblaSlide {
      flex: 0 0 100%;
      min-width: 0;
    }
  }
}
