html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

input {
  background: none;
  border: none;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

body {
  margin: 0;
  padding: 0;

  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-700);
}

.grecaptcha-badge {
  visibility: hidden;
}
