:root {
  // accent
  --color-accent-100: #73a5ff;
  --color-accent-300: #4c8dff;
  --color-accent-500: #397df6;
  --color-accent-700: #2f68cc;
  --color-accent-900: #234e99;

  // success
  --color-success-100: #80ffbf;
  --color-success-300: #22e584;
  --color-success-500: #14cc70;
  --color-success-700: #0f9954;
  --color-success-900: #0a6638;

  // danger
  --color-danger-100: #ff8099;
  --color-danger-300: #f23d61;
  --color-danger-500: #cc1439;
  --color-danger-700: #990f2b;
  --color-danger-900: #660a1d;

  // warning
  --color-warning-100: #ffd073;
  --color-warning-300: #e5ac39;
  --color-warning-500: #d99000;
  --color-warning-700: #966600;
  --color-warning-900: #640;

  // light
  --color-light-100: #fff;
  --color-light-300: #f9f7ff;
  --color-light-500: #f4f2fa;
  --color-light-700: #dcdae0;
  --color-light-900: #8d9094;

  // dark
  --color-dark-100: #4c4c4c;
  --color-dark-300: #333;
  --color-dark-500: #171717;
  --color-dark-700: #0d0d0d;
  --color-dark-900: #000;

  // semantic
  // mostly useful in case of themes implementation (different set for each theme)
  --color-primary: var(--color-accent-500);
  --color-danger: var(--color-danger-500);
  --color-success: var(--color-success-900);
  --color-bg: var(--color-dark-700);
  --color-bg-highlighted: var(--color-dark-500);
  --color-border: var(--color-dark-300);
  --color-text: var(--color-light-100);
  --color-text-subdued: var(--color-light-900);
  --color-text-error: var(--color-danger-500);

  --color-dark-500-opacity: rgba(23, 23, 23, 0.8);

  // --color-text-inverted: var(--color-dark-700);
}
