.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 220px 1fr;

  &.gridHaveOneCol {
    grid-template-columns: 1fr;
  }

  & .headerSkelet {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 61px;
    background: #8d9094;
  }
  & .navSkelet {
    width: 220px;
    background: #c5c8cb;
  }
  & .mainSkelet {
    text-align: center;
    font-size: 100px;
    background: #474849;
  }
}
