.postsWrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  max-width: 972px;
  margin: 0 auto;
  .post {
    aspect-ratio: 0.598;
    max-height: 391px;
    height: 100%;
    max-width: 234px;
    width: 100%;

    .postImage {
      width: 100%;
      aspect-ratio: 1;
      transition: all linear 0.2s;
      &[data-showMore='true'] {
        transition: all linear 0.2s;
        aspect-ratio: 2;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .avaUserNameBlock {
      display: flex;
      gap: 12px;
      align-items: center;
      margin: 12px 0;
      img {
        border-radius: 50%;
      }
    }
    .date {
      margin-bottom: 3px;
      color: var(--color-light-900);
    }
    .description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      float: left;
      &[data-showMore='true'] {
        -webkit-line-clamp: 6;
      }
    }
  }
}
.overflowedContainer {
  height: calc(100vh - 61px);
  overflow: hidden;
}
.mainCntainer {
  height: 100%;
  overflow: auto;
  padding-top: 24px;

  .countUsersBlock {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 972px;
    margin: 0 auto 36px;
    padding: 0 24px;

    .countUsers {
      letter-spacing: 15px;
    }
  }
}
.showMore {
}
