.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card {
  //display: flex;
  //justify-content: center;
  //align-items: center;
}
.forgot {
  color: var(--color-light-900);
}
