.header {
  border-bottom: 1px gray solid;
  grid-column-start: 1;
  grid-column-end: 3;

  .wrapper {
    margin: 0 auto;
    //max-width: 1280px;
    height: var(--header-height);
    display: flex;
    padding: 0 64px 0 60px;
    justify-content: space-between;
    align-items: center;

    a {
      color: inherit;
    }

    @media (max-width: 550px) {
      padding: 0 15px 0 15px;
    }

    .buttonsBlock {
      display: flex;

      .dropDown {
        margin-left: 24px;
        display: flex;
        align-items: center;
      }

      .noties {
        all: unset;
        display: flex;
        align-items: center;
        margin-right: 48px;
        position: relative;
        &:focus-visible {
          outline: 1px solid var(--color-accent-500);
        }
        &.displaynone {
          display: none;
        }

        .countNotifies {
          position: absolute;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #cc1439;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          right: 0;
          top: 0;
          cursor: default;
        }
      }

      .buttonsContainer {
        margin-left: 36px;
      }

      .login,
      .signIn {
        height: 36px;
      }

      .login {
        margin-right: 24px;
      }
    }

    .select {
      width: 163px;
    }
  }
}
