.avaAndDescrBlock {
  display: flex;
  gap: 38px;
  margin-bottom: 48px;
  margin-top: 36px;
  padding-right: 64px;
  padding-left: 24px;

  .image {
    border-radius: 50%;
  }

  .aboutUserBlock {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .userNameSettingsButtonBlock {
      display: flex;
      justify-content: space-between;
      .userName {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    .countsFolowwers {
      display: flex;
      gap: 100px;

      .following:hover,
      .followers:hover,
      .publications:hover {
        background: var(--color-accent-500);
      }
    }

    .aboutMe {
    }
  }
}
.cardsBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding-right: 64px;
  padding-left: 24px;
  list-style: none;

  .card {
    //border: 1px solid red;
    border-radius: 2px;
    aspect-ratio: 1.026;
    div {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
