@mixin toast($backGroundColor, $borderColor, $maxWidth) {
  background: $backGroundColor;
  border: 1px solid $borderColor;
  color: var(--color-light-100);
  border-radius: 2px;
  max-width: $maxWidth;
  width: 100%;
}
.wrapper {
  padding: 50px;
  min-width: 960px;
}

.form {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

.aboutMe {
  height: 100px;
  //error text is 24px height
  margin-bottom: 24px;
  width: 100%;
}

.formItem {
  margin-bottom: 24px;
  &.birthInput input {
    width: auto;
    outline: none;
    cursor: default;
    transition: none;
    color: var(--color-light-100);
  }
  &.birthInput input:active {
    outline: none;
  }
  &.birthInput input:hover {
    outline: none;
  }
}

.label {
  color: var(--color-light-900);
}

.flexRow {
  align-items: flex-start;
  display: flex;
  gap: 36px;
  justify-content: flex-start;
  margin-top: 24px;
}

.separator {
  background-color: var(--color-dark-300);
  bottom: calc(36px + 48px / 2);
  height: 2px;
  position: relative;
  width: 100%;
}

.locationSection {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.dateInput {
  position: absolute;
  width: 0;
  //border: 2px solid red;
  padding-right: 12px;
  height: 0;
  //margin-bottom: 24px;
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

.submitButton {
  align-self: flex-end;
}
.succesToast {
  @include toast(var(--color-success-900), var(--color-success-500), 387px)
    //background: var(--color-success-900);
    //border: 1px solid var(--color-success-500);
    //color: var(--color-light-100);
    //border-radius: 2px;
    //max-width: 387px;
    //width: 100%;
;
}
.errorToast {
  @include toast(var(--color-warning-900), var(--color-warning-500), 427px)
    //background: var(--color-warning-900);
    //border: 1px solid var(--color-warning-500);
    //color: var(--color-light-100);
    //border-radius: 2px;
    //max-width: 427px;
    //width: 100%;
;
}
.toastWrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}
.close {
  padding: 0;
}
.wrapperDatePicker {
  margin-bottom: 24px;
}

.titleDateOfBirth {
  color: var(--color-light-900);
}
.titleErrorDateOfBirth {
  color: var(--color-danger-500);
  a {
    text-decoration: underline;
    color: var(--color-accent-700);
  }
}
//DatePicker
.datePicker[class*='MuiFormControl-root'] {
  width: 100%;
}

.datePicker fieldset[class*='MuiOutlinedInput-notchedOutline'] {
  border-color: var(--color-dark-100);
  legend {
    display: none;
  }
}
.datePicker button {
  padding: 0;
}
.datePicker [class*='Mui-focused'] fieldset[class*='MuiOutlinedInput-notchedOutline'] {
  border-color: var(--color-accent-500);
}

.datePicker [class*='MuiInputBase-root']:hover:not([class*='Mui-focused']) {
  fieldset[class*='MuiOutlinedInput-notchedOutline'] {
    border-color: var(--color-light-900);
  }
}
.datePicker [class*='MuiInputBase-root'] {
  padding: 0 12px;
}
.datePicker [class*='MuiInputAdornment-root'] {
  margin: 0;
  width: 24px;
}

.datePicker input {
  -webkit-text-fill-color: white;
  padding: 0;
  height: 36px;
}

.datePicker button {
  color: var(--color-light-100);
}
